<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
	<div layout:fragment="content">
    <h2>User List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
            </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:if="${currentPage > 1}">
                <a class="page-link" th:href="@{'/users?page=' + ${currentPage - 1}}">Previous</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link" th:href="@{'/users?page=' + ${i}}" th:text="${i}"></a>
            </li>
            <li class="page-item" th:if="${currentPage < totalPages}">
                <a class="page-link" th:href="@{'/users?page=' + ${currentPage + 1}}">Next</a>
            </li>
        </ul>
    </nav>
	</div>
</body>
</html>
